* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

input,
select,
textarea {
    width: 100%;
    background-color: white;
    color: #545759;
    border: white;
}

input:focus,
textarea:focus {
    outline: none;
}

.otl {
    border: 1px solid black;
}