header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-wrapper {
    display: flex;
    width: 1230px;
    /* justify-content: space-between; */
    align-items: center;
    height: 68px;
}

.nav-wrapper div {
    display: flex;
    align-items: center;
    /* height: 100%; */
}

.logo img {
    height: 36px;
}

.menu {
    padding-left: 36px;
}

.menu img {
    width: 100%;

}



.search-bar-wrapper {
    padding: 0 20px 0 8px;
    width: calc(100% - 619px);
}

.search-bar {
    display: block;
    height: 36px;
    padding: 3px 3px 3px 0px;
    border: 1px solid #CDCFD0;
    border-radius: 8px;
    width: 100%;
}

.search-area {
    width: 100%;
}

.search-area input {
    padding: 0 0 0 16px;
}

.search-button {
    height: 100%;
    width: 72px;
    background-color: #C92127;
    border: 2px solid #C92127;
    justify-content: center;
    border-radius: 8px;
}

.search-button img {
    height: 20px;
    width: 20px;

    object-fit: contain;
}

.items-wrapper {
    padding: 0 20px 0 8px;
    width: 360px;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item {
    display: flex;
    flex-flow: column;
}

.item-text {
    font-family: 'Poppins', sans-serif;
    color: #969696;
}

.language-changer {
    border: 1px solid #CDCFD0;
    padding: 6px;
    border-radius: 6px;
}