main {
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main>div {
    width: 1230px;
}

.ads-wrapper1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 7px;
    padding-top: 15px;
}

.ad {
    object-fit: contain;
}

.ad>img {
    border-radius: 8px;

}

.dynamic-ad {
    grid-row: 1/3;
}