main {
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main>div {
    width: 1230px;
}

.ads-wrapper1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 7px;
    padding-top: 15px;
}

.ad>img {
    border-radius: 8px;
}

.static-ad2 {
    padding-top: 4px;
}

.ads-wrapper2 {
    padding-top: 15px;
    display: flex;
    gap: 8px;
}

.menu-items-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    background-color: white;
    margin-top: 10px;
    /* gap: 60px; */
}

.menu-item {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    gap: 5px;
    padding-bottom: 12px;

}

.menu-item-icon {
    padding: 0px 36px;
}

.menu-item-text {
    padding: 0px 16px;
    text-align: center;
}

.flash-sale-wrapper {
    margin-top: 20px;
}

.flash-sale-header {
    display: flex;
    background-color: #FCDAB0;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.flash-sale-icon {
    width: 24px;
    margin: 15px 10px;
}

.flash-sale-text {
    font-size: 16px;
    font-weight: 550;
}

.split {
    font-size: 20px;
}

.start-text {
    font-weight: 500;
}

.timer {
    background-color: #F0F0F0;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: 600;
}

.timer-colon {
    font-weight: 600;
}

.flash-sale-body {
    display: flex;
    background-color: white;
    gap: 15px;
    padding: 24px;
    /* flex-direction: column; */
}

.flash-sale-item {
    position: relative;
    display: flex;
    flex-direction: column;
}

.sale-item-img {
    padding: 0 16px 16px 16px;
    align-self: center;
}

.sale-item-name {
    font-size: 14px;
    font-weight: 500;
    /* padding: 0 16px 16px 16px; */
}

.sale-price {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #F7941E;
}

.item-price {
    font-size: 14px;
    font-weight: 500;
    color: #888888;
    padding: 5px 0;
    text-decoration: line-through;
}

.progress {
    text-align: center;
    background-color: #ff8c92;
    color: white;
    border-radius: 16px;
    padding: 2px 0;
    margin-left: 2px;
    margin-right: 15px;
}

.sale-percent {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #F7941E;
    color: white;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}