* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

.otl {
    border: 1px solid black;
}

.nav-wrapper {
    display: flex;
}

.nav-wrapper div {
    display: flex;
}

.search-button {
    width: 20px;
    background-color: red;
}